/*a simple stylesheet*/

body {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14pt;
	background-color: #aaff80;
}

#Header {
	text-align: center;
	font-size: 30px;
	font-family: copperplate;
	/*font-family: Impact, Charcoal, sans-serif;*/
	/*font-family: "Times New Roman", Times, serif;*/
	background-color: #ffffff;
	color: #009900;
        margin-top: 5px;
        margin-bottom: 5px;
}

.tab{
	margin-left: 40px;
}

.table{
	overflow-y: scroll;
	height: 300px;
	display: block;
}

.table2{
	overflow-y: scroll;
	height: 200px;
	width: 600px;
	display: block;
	float:right;
	clear: right;
	background-color: #f2f2f2;
}
.push {
	margin: 50px;
}

.button {
	float: right;
	height = 50em;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
}

.jumbotron {
	background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
}

.vertical-buffers {
	margin-top: 5px;
	margin-bottom: 5px;
}

.bottom-buffer {
	margin-bottom: 20px;
}

#logo {
	margin-right: 25%;
}

.padding-2 {
	padding: 2px;
}

.padding-3 {
	padding: 3px;
}

.padding-22 {
	padding-right: 22px;
	padding-left: 22px;
}

.move-left {
	margin-left: -30px;
}

.narrow {
	width:8%;
}
