{% extends "bootstrap/base.html" %}
{% block content %}

        {% block title %}Welcome to RecordRight{% endblock %}
        {% block styles %}
        	{{super()}}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        {% endblock %}
 
  
    <body>
    		<p> <div style = "float: right;"><img src = "{{url_for('static', filename = 'logo.png')}}"> </div> </p>
		<div class = "Header">
			<h1> RECORD RIGHT </h1> 
		</div>

		{% block app_content %}{% endblock %}

		

    </body>
    {% endblock %}