{% extends "bootstrap/base.html" %}

{% block title %} Welcome to RecordRight {% endblock %}
{% block head %}
{{super()}}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
	<script>
	$(function() {
		$( ".dtpick" ).datepicker();
	});
	</script>

{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery-ui.css')}}">
{% endblock %}
 
{% block content %}
        {{ super() }}
        
   
  
    <body>
        <div id="smallheader" class="jumbotron" padding-top="30px" padding-botton="30px">
                <div style = "float: right;">
                    <img id="logo" width="50px" src = "{{url_for('static', filename = 'logo.png')}}"> 
                </div>
    		<div id = "Header">
    			<h3 id="Header"> RECORD RIGHT </h3> 
    		</div>
        </div>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- <div class="navbar-header"> -->
            <!--   <a class="navbar-brand" href="#">WebSiteName</a>
            </div> -->
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{url_for('index')}}">Home</a></li>
              <li><a href="{{url_for('create_patient')}}">Create Patient</a></li>
              <li><a href="{{url_for('create_announcement')}}">Create Announcement</a></li>
            </ul>
          </div>
        </nav>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="container">
	  {% block app_content %}{% endblock %}
        </div>
		

    </body>
{% endblock %}
