{% extends "base.html" %}
{% block app_content %}

        

        <form name="whichreminder">
            <input type="radio" name="reminders"  value="singleform" checked>Single Reminder<br>
            <input type="radio" name="reminders"  value="recurrentform">Recurring Reminder
        </form>

        <script>
          var rad = document.whichreminder.reminders;
          var prev = null;
          for(var i = 0; i < rad.length; i++) {
            rad[i].onclick = function() {
              (prev)? console.log(prev.value):null;
              if(this !== prev) {
                 prev = this;
              }
              console.log(this.value)
              rform = document.getElementById("recurrentform")
              sform = document.getElementById("singleform")

              if (this.value === "recurrentform") {
                  rform.style.display = 'block';
                  sform.style.display = 'none';
              } else {
                  rform.style.display = 'none';
                  sform.style.display = 'block';                 
              }
            };
          }
        </script>


        <div id="singleform">
	<form action="" method="post" name="reminder">

		<p> Message to send: {{single_form.what}} </p>
		<p> Date to send (MM/DD/YY): {{single_form.when}} </p>
		<p><input type="submit" value="Submit"></p>
	</form>
        </div>
          
        <div id="recurrentform" style="display:none">
	<form action="" method="post" name="recurrentreminder">

		<p> Message to send: {{recurrent_form.what}} </p>
		<p> Every {{recurrent_form.days}} day(s) </p>
                <p> Every {{recurrent_form.hours}} hour(s)
                   between {{recurrent_form.start_hour}} and 
                   {{recurrent_form.end_hour}} </p>
                <p> End after {{recurrent_form.end_after}} occurrences 
                  OR on {{recurrent_form.end_on}} </p>
		<p><input type="submit" value="Submit"></p>
	</form>
        </div>

	<form action = "{{ url_for('index') }}"><input type="submit" value="Cancel"/></form>


{% endblock %}
