{% if is_admin %}
  {% extends "admin_base.html" %}
{% else %}
  {% extends "base.html" %}
{% endif %}

{% block app_content %}
	<h1> New User </h1>	

    <script type="text/javascript">
      function validate() {
        var date_regex = /^(0?[1-9]|1[0-2])\/(0?[1-9]|1\d|2\d|3[01])\/(19|20)?\d{2}$/ ;
        if(!(date_regex.test(document.newpatient.DOB.value)))
        {
          alert("Please enter a valid date of birth (ex: 12/25/1990)");
          document.newpatient.DOB.focus();
          return false;
        }
        if(!(date_regex.test(document.newpatient.visit_date.value)))
        {
          alert("Please enter a valid visit date (ex: 12/25/1990)");
          document.newpatient.visit_date.focus();
          return false;
        }

        return true;
      }
    </script>
	<form autocomplete="off" action="" method="post" name="create_user">
		<p> Username: {{form.username}} </p>
		<p> Password: {{form.password}} </p>
    <p> Administrator? {{form.is_admin}} </p>

		<p><input class="btn btn-default" type="submit" value="Submit"></p>
	</form>
  <a class="btn btn-default" href= "{{ url_for('index') }}">Cancel</a>

{% endblock %}
