{% extends "base.html" %}
{% block app_content %}

	<form action="" method="post" name="messageform">
	  <p>Message to send: <input type="text" name="message" onblur="document.recurrentreminder.what.value = this.value; document.reminder.what.value = this.value; document.commonreminderform.what.value = this.value"/> </p>
	</form>



        <h3>Pick a common reminder schedule</h3>
        <form action="" name="commonreminderform" method="post">
          <input type="hidden" name="form-name" value="commonreminderform">
          {{common_reminder_form.what}}
          {{common_reminder_form.schedule}}
          <p> End after {{recurrent_form.end_after}} occurrences 
            OR on {{recurrent_form.end_on}} </p>

          <input class="btn btn-default" type="submit" value="Submit"/>
        </form>
        <h4>OR</h4>
        <p></p>
        <h3>Specify a reminder schedule</h3>
        <form name="whichreminder">
            <input type="radio" name="reminders"  value="singleform" checked>Single Reminder<br>
            <input type="radio" name="reminders"  value="recurrentform">Recurring Reminder
        </form>

        <script>
          var rad = document.whichreminder.reminders;
          var prev = null;
          for(var i = 0; i < rad.length; i++) {
            rad[i].onclick = function() {
              (prev)? console.log(prev.value):null;
              if(this !== prev) {
                 prev = this;
              }
              console.log(this.value)
              rform = document.getElementById("recurrentform")
              sform = document.getElementById("singleform")

              if (this.value === "recurrentform") {
                  rform.style.display = 'block';
                  sform.style.display = 'none';
              } else {
                  rform.style.display = 'none';
                  sform.style.display = 'block';                 
              }
            };
          }
        </script>


        <div id="singleform">
	<form action="" method="post" name="reminder">
      <input type="hidden" name="form-name" value="singleform">
	  {{single_form.what}}
    <!-- <div class="row"> -->

  		<p> Date to send (MM/DD/YY): {{single_form.when}} </p>
    <!-- </div> -->
		<p><input class="btn btn-default" type="submit" value="Submit"></p>
	</form>

        </div>
          <!-- <i class="glyphicon glyphicon-info-sign" rel="tooltip" title="Key active" id="blah"></i> -->
        <div id="recurrentform" style="display:none">
	<form action="" method="post" name="recurrentreminder">
      <input type="hidden" name="form-name" value="recurrentreminderform">
                 {{recurrent_form.what}}
		<p> Every {{recurrent_form.days}} day(s) </p>
                <p> Every {{recurrent_form.hours}} hour(s)
                   between {{recurrent_form.start_hour}} and 
                   {{recurrent_form.end_hour}} </p>
                <p> End after {{recurrent_form.end_after}} occurrences 
                  OR on {{recurrent_form.end_on}} </p>
		<p><input class="btn btn-default" type="submit" value="Submit"></p>
	</form>
        </div>
  <a href="{{ url_for('patient_data', id=patient.id, search_id=search_id) }}" class="btn btn-default">Cancel</a>


{% endblock %}
