<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to RecordRight</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
  
    <body>
		<div class = "header">
		<p> RECORD RIGHT </p> 
		<p> <img src = "{{url_for('static', filename = 'logo.png')}}"> </p>
		<!---	<p id = "RR"> {{users}}</p> -->
		</div>
		<table>
			<tr> 
				<th>Patient</th>
				<th>DOB</th>
			</tr>
			{% for user in users %}
			<tr>
				<th><p><a href= "{{ url_for('patient_data')}}"> {{user.name}}</a></p></th>
				<th>{{user.DOB}}</th>
			</tr>
			{% endfor %}
    </body>
  
</html>
