{% extends "base.html" %}
{% block app_content %}
	<!--<a href = "{{ url_for('create_patient') }}" class = "button">Create Patient</a>-->
	<div class="container">
		<div class="row bottom-buffer">
			<div class="col-md-10"></div>
			<div class="col-md-2">
				<!-- <form action = "{{ url_for('create_patient') }}"><input type="submit" class = "btn btn-default" value="Create Patient"/></form> -->
			</div>
		</div>
	</div>
	<h1> HOSPITAL ANNOUNCEMENTS </h1>
	<div class="container">
		<div class="row vertical-buffers">
			<div class="col-md-8">
				<!-- class mx-5 does not appear to be working -->
				<div class="mx-5">
					<table class="table table-striped">
						<tr scope="row"> 
							<th>Announcement</th>
						</tr>
						{% for an in announcements %}
						<tr scope="row">
							<th>{{an}}</th>
						</tr>
						{% endfor %}
					</table>
				</div>
			<div class="mx-5" style="margin-top: 50px;">
				<form action="" method="post" name="search">
					<h2> Search: {{form.keyword}} </h2>
					<p><input class="btn btn-default" type="submit" value="Submit" style="font-size:22px"></p>
				</form>
			</div>
		</div>
	</div>

 {% endblock %}
