<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to RecordRight</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
  
    <body>

    		<div class="name">
        		<p id="name">Aristana Scourtas</p>
        	</div>
        	<div class="studies">
        		<p id="cs">Computer Science</p> 
        		<p id="biopsych">Biopsychology</p>
        		<p id="premed">Pre-medicine</p>
        	</div>
        	<div class="links">
        		<div class="bio">
        			<a href="/bio.html">Get to know me personally</a>
        		</div>
        		<div class="resume">
        			<a href="/resume.html">Get to know me professionally</a>
        		</div>
        	</div>
    </body>
  
</html>