{% extends "bootstrap/base.html" %}
	{% block styles %}
  		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

	{% endblock %}
	{% block content %}
	<body>
	 <div id="smallheader" class="jumbotron" padding-top="30px" padding-botton="30px">
                <div style = "float: right;">
                    <img id="logo" width="50px" src = "{{url_for('static', filename = 'logo.png')}}"> 
                </div>
    		<div id = "Header">
    			<h3 id="Header"> RECORD RIGHT </h3> 
    		</div>
      </div>
     	{% with messages = get_flashed_messages() %}
 		 {% if messages %}
    		<ul class=flashes>
   		 {% for message in messages %}
      		<li>{{ message }}</li>
   		 {% endfor %}
    				</ul>
 		 {% endif %}
	{% endwith %}
	  <h1>Sign In</h1>
	  <form autocomplete="off" action="" method="post" name="login">
	      <p>
	          Please enter your username:<br>
	          {{ form.username(size=15) }}<br>
	      </p>
	      <p> Please enter your password:<br>
	      {{form.password(size=15)}}<br>
	      </p>
	      <p>{{ form.is_remembered }} Remember Me</p>
	      <p><input type="submit" value="Sign In"></p>
	  </form>
	  </body>
	{% endblock %}
