{% if is_admin %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "base.html" %}
{% endif %}
{% block app_content %}
	<h1> New Announcement </h1>	

	<form action="" method="post" name="newannouncement" onsubmit="return(validate());">
		<p> Name: {{form.name}} </p>
		<p> Announcement: {{form.announcement}} </p>
    		<p> Severity: </p>
        		{{ form.severity }}

        	<p><input class="btn btn-default" type="submit" value="Submit"></p>

	</form>

	{# <form class= "btn btn-default" action =" " onsubmit="redirect(url_for('index')"><input type="submit" value="Cancel"/></form> #}

	<a href="{{ url_for('index') }}" class="btn btn-default">Cancel</a>

{% endblock %}