{% extends "base.html" %}
{% block app_content %}
<!-- 	<div id = "Header"> -->
<div class="container">
  <div class="row">
    <div class="col-md-1">
     {# <p>Search ID is {{search_id}}</p> #}
      <p><a class="btn btn-default" href= "{{ url_for('results', search_id=search_id)}}">Back</a></p>
    </div>
  </div>
  <div class="row">
    <div class="container">
		<h1>{{patient[0].name}}</h1>
  
		<h2>{{patient[0].DOB}}</h2>
  </div>
  <div class="row">
      <div class="col-md-1">
        <p><a class="btn btn-default" href= "{{ url_for('update_patient_data', id=patient[0].id, search_id=search_id)}}">Edit</a></p>
      </div>
      <div class="col-md-1">
        <p><a class="btn btn-default" href= "{{ url_for('create_reminder', id=patient[0].id, search_id=search_id)}}">Create Reminder</a></p>
      </div>
  </div>
		<h3> Patient Information </h3>
		<p> History: {{patient[0].hx}}</p>
		<p> Phone Number: {{patient[0].phone_number}}</p>
		<p> Address: {{patient[0].address}}</p>
        <p> Past visit notes:
          {% if patient[0].past_visit_notes is none or patient[0].past_visit_notes|length == 0 %}
            <p>No past visits</p>
          {% else %}
            {% for date, visit in visit_notes %}
            <p>{{date}} : {{visit}}</p>
            {% endfor %}
          {% endif %}
        </p>
<!-- 	</div> -->

<br><br><br>
</div>
{#       <p><a href= "{{ url_for('update_patient_data', id=patient[0].id)}}">Edit</a></p>
        <p><a href= "{{ url_for('create_reminder', id=patient[0].id)}}">Create Reminder</a></p> #}

      </div>
    {# fix this maybe <a href="{{ url_for('show_results')}}">Back</a> #}

{% endblock %}
