{% extends "base.html" %}
{% block app_content %}

    <script type="text/javascript">
      function validate() {
        var date_regex = /^(0?[1-9]|1[0-2])\/(0?[1-9]|1\d|2\d|3[01])\/(19|20)?\d{2}$/ ;
        if(!(date_regex.test(document.updatepatient.DOB.value)))
        {
          alert("Please enter a valid date of birth (ex: 12/25/1990)");
          document.updatepatient.DOB.focus();
          return false;
        }
        if(!(date_regex.test(document.updatepatient.visit_date.value)))
        {
          alert("Please enter a valid visit date (ex: 12/25/1990)");
          document.updatepatient.visit_date.focus();
          return false;
        }
        return true;
      }
    </script>

	<div class="container">
    <div class="row">
  	  <form action="" method="post" name="updatepatient" onsubmit="return(validate());">
  		<p> Name: {{form.name}} </p>
  		<p> DOB (mm/dd/yyyy): {{form.DOB}} </p>
  		<p> History: {{form.hx}} </p>
  		<p> Phone Number: {{form.phone_number}} </p>
  		<p> Address: {{form.address}} </p>
        <p> Visit Date (mm/dd/yyyy): {{form.visit_date(class="dtpicker")}} </p>
        <p> Visit Notes: {{form.visit_notes}} </p>
      <p> Patient Note: {{form.patient_note}} </p>
		<p><input class="btn btn-default" type="submit" value="Submit"></p>
	  </form>

     <a href="{{ url_for('patient_data', id=patient.id, search_id=search_id) }}" class="btn btn-default">Cancel</a>
  </div>
</div>


{% endblock %}
