{% extends "base.html" %}
{% block app_content %}

    <script type="text/javascript">
      function validate() {
        var date_regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/ ;
        if(!(date_regex.test(document.updatepatient.DOB.value)))
        {
          alert("Please enter a valid date of birth (ex: 12/25/1990)");
          document.updatepatient.DOB.focus();
          return false;
        }
        if(!(date_regex.test(document.updatepatient.visit_date.value)))
        {
          alert("Please enter a valid visit date (ex: 12/25/1990)");
          document.updatepatient.visit_date.focus();
          return false;
        }
        return true;
      }
    </script>

	<div class="container">
    <div class="row">
  	  <form action="" method="post" name="updatepatient" onsubmit="return(validate());">
  		<p> Name: {{form.name}} </p>
  		<p> DOB (mm/dd/yyyy): {{form.DOB}} </p>
  		<p> History: {{form.hx}} </p>
  		<p> Phone Number: {{form.phone_number}} </p>
        <p> Visit Date (mm/dd/yyyy): {{form.visit_date}} </p>
        <p> Visit Notes: {{form.visit_notes}} </p>
		<p><input type="submit" value="Submit"></p>
	  </form>


	  <form action = "{{ url_for('patient_data', id=patient.id) }}"><input type="submit" value="Cancel"/></form>
  </div>
</div>


{% endblock %}
